## Simple returns and Log returns

In [6]:
import yfinance as yf
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [8]:
# creating a dataframa using the pandas 
df = pd.DataFrame(index=[2016,2017,2018],data=[100,50,95],columns= ["Price"])
print(df)

      Price
2016    100
2017     50
2018     95

In [9]:
simplereturns = df.pct_change().dropna()
simplereturns

      Price
2017   -0.5
2018    0.9

In [11]:
simplereturns.mean()

Price    0.2
dtype: float64

# Here the problem is that it doesn't calculate mean from begining to the end (Of the actual data)

#As the average return is 0.2 so the ans. 2018 should be 95 approx but it's different
100(1+0.2)(1+0.2) = 144

which means average returns are missleading so we use **log returns**

# Using log returns

In [32]:
log_returns = np.log((df/df.shift(1))).dropna()

In [33]:
log_returns.mean()

Price   -0.025647
dtype: float64

# Checking the log return method 
Now lets see can we predict the correct price 
price["2018"] = 100(1-0.025647)(1-0.025647) = 94.9363768609
we are getting approx. the same answer

In [34]:
100*np.exp(log_returns.mean()*2)

Price    95.0
dtype: float64